:host {
  display: flex;
}

.wysiwyg {
  flex: 0 0 65%;
  margin-right: 20px;

  ::ng-deep {
    .ql-container {
      border-radius: 6px;
      border-color: #acacac;
      font-size: 14px;
    }

    .ql-editor {
      padding: 12px 8px;
    }
  }
}

.marks {
  flex: 1 1 100%;
  border-radius: 6px;
  border: 1px solid #acacac;
  max-height: 100%;
  overflow: auto;
  padding: 10px;
}

.mark-city-wrapper {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

:host {
  ::ng-deep {
    .mark-city {
      background-color: #ffb700;
      padding: 5px;
      border-radius: 10px;
      display: inline-block;
      text-align: start;
    }
  }
}
