<div class="wysiwyg">
  <!-- Переделано на ngModel, потому что айфон 10 плохо реагирует здесь на [formControl] -->
  <quill-editor class="quill-editor-wrapper"
                #quillElem
                [class.exist-error]="control.touched && control.errors"
                [class.ng-invalid]="control.touched && control.errors"
                [class.ng-touched]="control.touched && control.errors"
                [(ngModel)]="text"
                [modules]="quillOptions.modules"
                [placeholder]="quillOptions.placeholder"
                [bounds]="'self'"
                (onEditorCreated)="initQuillAndListeners($event)"
                (onContentChanged)="onContentChanged($event)"
                (onBlur)="onBlur()"
                trackChanges="all">
  </quill-editor>
</div>
<div class="marks">
  <ul>
    <li class="mark-city-wrapper" *ngFor="let city of cites">
      <button class="mark-city" [title]="city.HashTag"
              (click)="addMarkCity(city, true, true)">
        {{ city.Title }}
      </button>
    </li>
  </ul>
</div>
