html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  letter-spacing: .01em;
  background-repeat: no-repeat;
  line-height: 1.25em;
  color: #000;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
  height: 100vh;
}

*, *:before, *:after {
  box-sizing: border-box;
  background-repeat: no-repeat;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: 'Roboto', sans-serif;
}
