<div class="wrapper">
  <ng-container *ngIf="!(isError$ | async); else ERROR">
    <div class="line">
      <h2 class="title">Quill</h2>
      <app-wysiwyg-quill [control]="control"
                         [quillOptions]="quillOptions"
                         [cites]="cites">
      </app-wysiwyg-quill>
    </div>
    <div class="line">
      <h2 class="title">CKEditor5</h2>
      <app-wysiwyg-ckeditor [control]="control"
                            [ckeditorOptions]="ckeditorOptions"
                            [cites]="cites">
      </app-wysiwyg-ckeditor>
    </div>
    <label class="line">
      <textarea rows="5" class="test-field" placeholder="Simple field for test"></textarea>
    </label>
  </ng-container>

  <ng-template #ERROR>
    <div class="gl-message-error">Error</div>
  </ng-template>
</div>
