.wrapper {
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;
  max-width: 600px;
}

.line {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  ::ng-deep {
    .ql-editor {
      height: 250px;
    }

    .ck-editor__editable_inline {
      height: 250px;
    }
  }
}

.title {
  margin-bottom: 10px;
}

.test-field {
  border-radius: 6px;
  border: 1px solid #acacac;
  padding: 10px;
  width: 100%;
  resize: none;
}
