:host {
  display: flex;
}

.wysiwyg {
  height: 100%;
  flex: 0 0 65%;
  margin-right: 20px;

  .ckeditor-wrapper {
    ::ng-deep {
      .ck-toolbar {
        display: none;
      }

      .ck-editor__editable_inline {
        border-radius: 6px;
        border-color: #acacac;
        font-size: 14px;
      }
    }
  }
}

.marks {
  flex: 1 1 100%;
  border-radius: 6px;
  border: 1px solid #acacac;
  max-height: 100%;
  overflow: auto;
  padding: 10px;
}

.mark-btn-wrapper {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

:host {
  ::ng-deep {
    .city-btn, .mark-city {
      background-color: #ffb700;
      padding: 5px;
      border-radius: 10px;
      display: inline-block;
      text-align: start;
    }
  }
}
