<div class="wysiwyg">
  <ckeditor class="ckeditor-wrapper"
            [editor]="Editor"
            [(ngModel)]="text"
            (ngModelChange)="change($event)"
            [config]="ckeditorOptions"
            (ready)="onReady($event)">
  </ckeditor>
</div>
<div class="marks">
  <ul>
    <li class="mark-btn-wrapper" *ngFor="let city of cites">
      <button class="city-btn" [title]="city.HashTag"
              [attr.data-hashtag]="city.HashTag"
              [attr.data-title]="city.Title">
        {{ city.Title }}
      </button>
    </li>
  </ul>
</div>
