.gl-loader {
  position: relative;
  animation-delay: 150ms;
  margin: auto;
  &, &:before, &:after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    animation-name: flicker;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    background-color: #222222;
  }
  &:before, &:after {
    position: absolute;
    top: 0;
  }
  &:before {
    left: -12px;
  }
  &:after {
    right: -12px;
    animation-delay: 300ms;
  }
  &.mod-primary {
    &, &:before, &:after {
      background-color: #222222;
    }
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .05;
  }

  85% {
    opacity: 1;
  }
}
